<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body style="padding-top:60px;">
<!--导航的内容-->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">知识问答系统</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/ask">提问</a></li>
                {{if user}}
                <li class="in dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true"
                       aria-expanded="false">{{user}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/signout">退出</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="out"><a href="/signin">登录</a></li>
                {{/if}}
                <li><a href="/register">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--正文内容-->
<div class="container">
    <form method="POST">
        <!--用户名-->
        <div class="form-group">
            <input type="text" class="form-control" name="petname" placeholder="请填写用户名" pattern="^[a-zA-Z]{6,12}$" required>
        </div>
        <!--密码-->
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="请填写密码" pattern="^.{6,12}$" required>
        </div>
        <!--提交按钮-->
        <input type="submit" value="登录" style="margin-top:20px;" class="btn btn-default btn-success btn-block">
    </form>
</div>
<!--模态框-->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">用户提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="scripts/signin.js"></script>
